* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  margin: var(--header-height) 0 0 0;
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background: var(--body-color);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

button,
input {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
